:root {
	--primary-text-color: #3a4446;
	--background-color: #b7d5d9;
}

body {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	background-color: var(--background-color);
	color: var(--primary-text-color);
}

header {
	display: flex;
	justify-content: space-around;
	font-size: 40px;
	margin: 25px 0;
}

header a {
	text-decoration: none;
	color: var(--primary-text-color);
}

#main {
	padding-top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

main section {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	border: solid 7px var(--primary-text-color);
	border-radius: 10px;
	height: 300px;
	width: 700px;
	padding-top: 30px;
}

main section h1 {
	margin-top: 5%;
	font-size: 50px;
	position: relative;
	left: 5%;
}

#button {
	position: relative;
	top: 50%;
	right: 170%;
	background-color: var(--primary-text-color);
	color: var(--background-color);
	height: 50px;
	width: 100px;
	font-size: large;
	border-radius: 10px;
}

#button:hover,
#button:focus {
	filter: brightness(120%);
}
